
<div
  class='relative {{if this.shouldHide 'hidden'}}'
  {{on 'mousedown' this.startDrag}}
  >
  {{!-- TODO: Figure out how to animate this smoothly --}}
  <div style={{this.placeholderStyle}} class='placeholder {{if this.isDraggingOver 'expanded'}}'></div>

  {{!-- 
    Intercept Component to get mouse over events while dragging.
    We're using a cloned node to actually move around the screen, which
    is on a higher z-index than the thing that was actually clicked on.
    This will allow us to have a 'cast shadow' above the dragging div that
    will receive mouse events like enter and leave (or touch events as
    the case may be)
  --}}
  <div
    {{on 'mouseenter' this.enterItem}}
    {{on 'mouseleave' this.leaveItem}}
    class='z-50 absolute top-0 left-0 right-0 bottom-0'></div>
  {{yield}}
</div>